@font-face {
  font-family: Rubik;
  src: url(/Users/mohannaredla/Downloads/Rubik/Rubik-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #EDF1F3;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

input {
  font: inherit;
  border: none;
}

button {
  border: none;
  background-color: initial;
  outline: none;
}